.sysmo-footer {
  background: none repeat scroll 0% 0% #333;
  padding: 24px 0px 10px;
}

.sysmo-footer p.copyright {
  margin: 6px 0px 0px;
  font-size: 0.75rem;
  color: #666;
}

.sysmo-footer ul.home-social {
  display: block;
  float: right;
  margin-bottom: 8px;
}

.sysmo-footer ul.home-social li:first-child {
  margin-left: 0px;
}

.sysmo-footer ul.home-social li {
  list-style: outside none none;
  display: block;
  float: left;
}

.sysmo-footer ul.home-social li a {
  display: block;
  height: 50px;
  width: 50px;
  background: url("/img/social.png") no-repeat scroll center 0px transparent;
}

.sysmo-footer ul.home-social li a.twitter {
    background-position: center 0px;
}

.sysmo-footer ul.home-social li a.facebook {
    background-position: center -200px;
}

.sysmo-footer ul.home-social li a.mail {
    background-position: center -400px;
}

.simple-code {
  border-style: none;
  padding: 0 0 0 0;
}

.disabled {
    opacity: 0.4;
}

.prices {
    font-size: 200%;
    font-weight: 100;
    color: #008CBA;
}

.blue-sysmo {
    color: #008CBA;
}

.sysmo-header {
  background-image: url(/img/background-home.jpg);
  background-repeat: no-repeat;
}
