---
title: Home
---
<section class="bg-dark-30 showcase-page-header module parallax-bg" data-background="/assets/images/background-home.jpg">
    <div class="titan-caption">
        <div class="caption-content">
            <div class="font-alt mb-30 titan-title-size-1">Scallable, versatile monitoring and <br>network management system</div>
            <div class="font-alt mb-40 titan-title-size-4"><span class="sysmo-big" >Sysmo</span> NMS</div><a class="section-scroll btn btn-border-w btn-round" href="#more">More...</a>
        </div>
    </div>
</section>

<div class="main showcase-page">

    <!-- SUB HEADER -->
    <section class="module-extra-small bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-8 col-lg-9">
                    <div class="callout-text font-alt">
                        <h4 style="margin-top: 0px; font-;">Open Source</h4>
                        <p style="margin-bottom: 0px;">Sysmo is an open source project. Benefits of using open source software are endless: security, quality, customizability, freedom, interoperability, auditability, cost, "try before you buy"...</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="callout-btn-box"><a class="btn btn-border-w btn-circle" target="_blank" href="https://github.com/sysmo-nms">See us on GitHub...</a></div>
                </div>
            </div>
        </div>
    </section>


    <!-- CONTENT -->


    <section class="module module-extra-small" id="more">

        <div class="container">
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-clock"></span></div>
                        <h3 class="features-title font-alt">Minimize IT failures cost...</h3>
                        <p>
                        <em>... business must run. Nobody wants their customers to get an “Error 404” from the web server or all employees to get stuck in their work because the “router is overloaded”.</em></br></p>
                        <p>
                        With Sysmo you can proactively detect problems and quickly identify the current ones, increasing your overall IT services reactivity and fiability. You will then enhance employees productivity and customers satisfaction.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-streetsign"></span></div>
                        <h3 class="features-title font-alt">Free your IT team...</h3>
                        <p><em>... as important as management or monitoring tools are, they must help the IT team to concentrate on business valuable services. Not the opposite.</em></p>
                        <p>Our main top notch Sysmo-Operator user interface offer to your IT team the most efficient and ergonomic tool on the market for monitoring and managing their elements. They can then concentrate on business centred services rather than reading heavy documentations, or doing pointless administration tasks.
                        </p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="features-item">
                        <div class="features-icon"><span class="icon-map"></span></div>
                        <h3 class="features-title font-alt">Manage your IT infrastructure</h3>
                        <p><em>To accompany business growth, the IT team needs a professional tool to handle increasing numbers of network elements and servers.</em></p>
                        <p>Sysmo introduces some original concepts that will improve overall IT consistency by allowing IT team to inventory and access any kind of network or server elements from an unified interface. A well inventoried IT will boost failure resolution as well as facilitating skill sharing and transfer.
                        </p>
                    </div>
                </div>
           </div>
        </div>
    </section>
</div>
